.newblock-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
  

}

.newblock{
    display: flex;
    align-items: center;
    justify-content: center;

}